<% provide :title, t(".fore_title") %>
<h1>
  <%= t ".fore_title" %>
</h1>
<p>
  <%= t ".intro_1" %>
  <%= link_to t(".outro_1"), Settings.link.rails_help_link %>
  <%= t ".intro_2" %>
  <%= link_to t(".outro_2"), Settings.link.rails_book_link %>
</p>
